body {
	background-color: #eee;
	margin: 0;
}

#header-container {
	width: 100%;
	display: block;
	position: fixed;
}

header {
	font-family: Helvetica;
	padding: 1em .8em;
	background-color: #1c1c1c;
	color: #eee;
}

header > #search{
	border: none;
	border-radius:1em;
	height:2em;
	width: 20em;
	padding:.4em 1em;
}

header > #exponent {
	float:right;
	font-weight: bold;
}

header > #exponent::before{
	content: "best exponent";
	padding:1em;
}

#solutions{
	text-align: center;
	padding-top: 5em;
	padding-bottom: 4em;
}

#solutions > .solution {
	display: inline-block;
	padding: 10px;
}

#solutions > .solution .head {
	text-align: left;
	padding:0.4em;
	font-family: monospace;
	color: #1c1c1c;
}

#solutions > .solution > .head > .hash {
	font-size: 8pt;
	text-decoration: none;
	display: block;
	color: #1c1c1c;
}

#solutions > .solution > .head > .hash,
#solutions > .solution > .head > .dimensions,
#solutions > .solution > .head > .tags > .tag
{
	padding: 0.2em 0.5em;
}

#solutions > .solution .body {
	background-color:#1c1c1c;
	font-family: Helvetica;
	padding: .7em;
}

#solutions > .solution .body table {
	margin: 0 auto;
}

#solutions > .solution tr {
	height: 1em;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
#solutions > .solution td {
	color:white;
	font-weight: bold;
	width: 1em;
	height: 1em;
	text-align: center;
}
#solutions > .solution span{
	margin-right:5px;
	font-weight: bold;
}

#solutions > .solution td._0::before {
	display: inline-block;
	content: '';
	height:.2em;
	width:.2em;
	border-radius:.5em;
	background-color:#fff;
}


#solutions > .solution > .head > .dimensions {
	display: inline-block;
}

#solutions > .solution > .head > .tags {
	float:right;
}

#solutions > .solution > .head > .tags > .tag {
	border-radius:1em;
	display: inline-block;
	height: 1em;
	text-align: center;
}

#solutions > .solution > .head > .tags > .tag-best {
	display:none ;
	background-color: rgb(255,191,127);
}

#solutions > .solution.best > .head > .tags > .tag-best {
	display: inline;
}

#solutions > .solution > .head > .tags > .tag-opt {
	background-color: rgb(255,255,127);
}

#solutions > .solution > .head > .tags > .tag-score {
	background-color:rgb(255,127,127);
}

#solutions > .solution > .head > .dimensions > .dim::before {
	margin-right:.2em;
}
#solutions > .solution > .head > .dimensions > .dim-rows::before {
	content: "rows";
}

#solutions > .solution > .head > .dimensions > .dim-columns::before {
	content: "columns";
}

#solutions > .solution > .head > .dimensions > .dim-rounds::before {
	content: "rounds";
}
