html {
	font-family: Helvetica;
    position: relative;
    min-height: 100%;
}

body {
	background-color: #eee;
    margin: 0 0 1em; /* bottom = log height */
}

#log {
	display: none;
	position: fixed;
    left: 0;
    bottom: 0;
	background-color: #1c1c1c;
	font-family: monospace;
    height: 1em;
    width: 100%;
	padding: .4em;
	text-align: right;
}


#header-container {
	width: 100%;
	display: block;
	position: fixed;
}

#header {
	font-family: Helvetica;
	padding: 1em .8em;
	background-color: #1c1c1c;
	color: #eee;
}

#search{
	border: none;
	border-radius:1em;
	height:2em;
	width: 20em;
	padding:.4em 1em;
}

#exponent {
	float:right;
	font-weight: bold;
}

#exponent::before{
	content: "best exponent";
	padding:1em;
}

#main {
	padding-top: 5em;
	padding-bottom: 4em;
}

#search-output {
	padding: 0px 4em;
}

#search-output > .container > .no-results {
	color: #777;
	font-size: 2em;
}

#search-output > .container > .no-results::before{
	content: "No results for query";
	margin-right:1em;
}

#search-output > .container > .error {
	color: #f00;
	font-weight: bold;
	font-size: 2em;
}
#search-output > .container > .interpretation {
	font-size: 1.5em;

}
#search-output > .container > .help {
	font-size: 1.5em;

}
#search-output > .container > .output > .header {
	font-size: 1.5em;
	background-color: #ccc;
	color: #eee;
	font-weight: bold;
	padding: .5em 1em;
	margin-bottom: 1em;
}

#search-output > .container > .output > .solutions{
	text-align: center;
}

#search-output > .container > .output > .solutions > .solution {
	display: inline-block;
	padding: 10px;
}

#search-output > .container > .output > .solutions > .solution .head {
	text-align: left;
	padding:0.4em;
	font-family: monospace;
	color: #1c1c1c;
}

#search-output > .container > .output > .solutions > .solution > .head > .hash {
	font-size: 8pt;
	text-decoration: none;
	display: block;
	color: #1c1c1c;
}

#search-output > .container > .output > .solutions > .solution > .head > .hash,
#search-output > .container > .output > .solutions > .solution > .head > .dimensions,
#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag
{
	padding: 0.2em 0.5em;
}

#search-output > .container > .output > .solutions > .solution .body {
	background-color:#1c1c1c;
	font-family: Helvetica;
	padding: .7em;
}

#search-output > .container > .output > .solutions > .solution .body table {
	margin: 0 auto;
}

#search-output > .container > .output > .solutions > .solution tr {
	height: 1em;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
#search-output > .container > .output > .solutions > .solution td {
	color:white;
	font-weight: bold;
	width: 1em;
	height: 1em;
	text-align: center;
}
#search-output > .container > .output > .solutions > .solution span{
	margin-right:5px;
	font-weight: bold;
}

#search-output > .container > .output > .solutions > .solution td._0::before {
	display: inline-block;
	content: '';
	height:.2em;
	width:.2em;
	border-radius:.5em;
	background-color:#fff;
}


#search-output > .container > .output > .solutions > .solution > .head > .dimensions {
	display: inline-block;
}

#search-output > .container > .output > .solutions > .solution > .head > .tags {
	float:right;
}

#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag {
	display:none ;
	text-align: center;
	height: 1em;
	border-radius:1em;
}

#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag-best {
	background-color: rgb(255,255,127);
}

#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag-opt {
	background-color: rgb(127,255,127);
}

#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag-unsat {
	background-color:rgb(255,127,127);
}

#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag-score,
#search-output > .container > .output > .solutions > .solution.best > .head > .tags > .tag-best,
#search-output > .container > .output > .solutions > .solution.opt > .head > .tags > .tag-opt,
#search-output > .container > .output > .solutions > .solution.unsat > .head > .tags > .tag-unsat
{
	display: inline-block;
}


#search-output > .container > .output > .solutions > .solution > .head > .tags > .tag-score {
	background-color: rgb(255,191,127);
}

#search-output > .container > .output > .solutions > .solution > .head > .dimensions > .dim::before {
	margin-right:.2em;
}
#search-output > .container > .output > .solutions > .solution > .head > .dimensions > .dim-rows::before {
	content: "rows";
}

#search-output > .container > .output > .solutions > .solution > .head > .dimensions > .dim-columns::before {
	content: "columns";
}

#search-output > .container > .output > .solutions > .solution > .head > .dimensions > .dim-rounds::before {
	content: "rounds";
}

#log.status-ok ,
#log.status-error ,
#log.status-pending {
	display: block;
}
#log.status-ok {
	background-color: rgb(127,255,127);
}
#log.status-error {
	background-color:rgb(255,127,127);
}
#log.status-pending {
	background-color: rgb(255,255,127);
}

#log-last ,
#log-status ,
#log-status-text ,
#log-message ,
#log-limit ,
#log-remaining ,
#log-reset
{
	font-weight: bold;
	margin-right: 2em ;
}

#log-pending {
	font-weight: bold;
}

#log.status-pending #log-last ,
#log.status-pending #log-status ,
#log.status-pending #log-status-text ,
#log.status-pending #log-limit ,
#log.status-pending #log-remaining ,
#log.status-pending #log-reset ,
#log.status-ok #log-message,
#log.status-pending #log-message,
#log.status-error #log-pending,
#log.status-ok #log-pending
{
	display: none;
}

#log-last::before ,
#log-status::before ,
#log-status-text::before ,
#log-message::before ,
#log-limit::before ,
#log-remaining::before ,
#log-reset::before
{
	font-weight: normal;
	margin-right: 1em ;
}


#log-last::before {
	content: "last request at";
}
#log-status::before {
	content: "status";
}
#log-status-text::before {
	content: "status text";
}
#log-message::before {
	content: "message";
}
#log-limit::before {
	content: "limit";
}
#log-remaining::before {
	content: "remaining";
}

#log-reset::before {
	content: "reset";
}

#log-pending::after {
	font-weight: normal;
	margin-left: 1em ;
	margin-right: 2em ;
	content: "pending GitHub API request";
}

